
<header class="flex-center">

	<div class="overlay">
    <!-- <nav>
      <a href="#">Home</a>
      <a href="#BookFooter">About</a>
      <a href="#">Blog</a>
      <a href="#">Portefolio</a>
      <a href="#BookFooter">Contact</a>
      <div class="animation start-home"></div>
    </nav> -->
<h1>Our Online Book Store</h1>
<div>
  <span class="badge badge-secondary login">Hello {{customerName}}</span>
  <button type="button" (click)="LogOut()" class="btn btn-outline-danger btn-rounded logout" data-mdb-ripple-color="dark">LogOut</button>
</div>


<h3>Reasons for Choosing US</h3>
<div><a id="link" mat-button color="primary" href="#BookFooter">READ MORE</a></div>

<div><p style="color: lavender; font-size: larger;">We are a widely known bookstore that offers book delivery services and<br>
  all you have to do is visit their website and shop online.</p></div>
	<br>
		</div>
</header>

<!--
<div class="carousal">
  <app-carousal-books></app-carousal-books>
</div> --> -->
